# Virtual Environment
venv/
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# IDE and Editor Settings
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db


